@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import "./reset.css";
@import "./nav.css";
@import "./section-one.css";
@import "./section-two.css";
@import "./section-three.css";
@import "./section-four.css";
@import "./footer.css";
@import "./hover.css";

/* ICONS - wrench, unlock-alt, legal, key */
*{
	box-sizing: border-box;
}
html{
	font-family: Helvetica, sans-serif;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center; 
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	width: 100%;
	max-width: 1366px;
}


