@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');
@import url(./reset.css);
@import url(./global.css);
@import url(./icons.css);
@import url(./Header/header.css);
@import url(./Main/main.css);


header,
main {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

main{
    border: 2px solid black;
}
.images-wrapper{
    /* text-align: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    width: 100%;
    border: 2px solid red;
    column-count: 3;
    /* -webkit-column-break-inside: avoid;
    -webkit-column-break-after: avoid; */
}
/* .row{
    width: 100%;
} */
.image-container{
    /* display: inline-block; */
    width: 100%;
    margin: 10px auto;
    /* margin: 105px; */

    /* height: min-content; */
    /* height: max-content; */
    /* height: fit-content; */
    /* height: auto; */

    border: 2px solid blue;
}
.image-container img{
    width: 100%;
    /* object-fit: cover; */
    border: 2px solid rgb(0, 255, 21);
}