@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url(./reset.css);

header{
    width: 100%;
    max-width: 1300px;
    min-width: max-content;
    margin: 0 auto;
}

/* First upper links navigation */
.links-nav{
    width: 100%;
    margin: 0 auto;
     min-width:max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* align-items: center; */
    grid-template-areas: "left right";
    border: 5px solid rgb(10, 30, 212);
}
.links-nav .left{
    grid-area: left;
    /* min-width:max-content; */
    display: flex;
    /* justify-content: space-around; */
    /* flex-wrap: nowrap; */
    
    border: 5px solid black;

    /* justify-content: space-evenly; */
}
.phone-number{
    display: inline-block;
    font-size: 20px;
    margin: 0 2% 0 2%;
    border: 2px solid black;
    word-break: break-all;
    hyphens: auto;
    min-width:max-content;
}
.email{
    display: inline-block;
    font-size: 20px;
    border: 2px solid black;
    word-break: break-all;
    hyphens: auto;
    min-width:max-content;
}
.links-nav .right{
    grid-area: right;
    width: 100%;
    border: 2px solid rgb(253, 0, 0);
}
.icons-wrapper{
    border: 2px solid green;
    width: 15%;
     min-width:max-content;
    margin: 0 0 0 auto;

    
}
.fa-brands{
    margin: 5px 6px;
    font-size: 20px;
}

.navs-separating-line{
    width: 90%;
    border: 1px solid orange;
}


/* @media screen and (max-width: 910px) {
    header, main{
        width: 910px;
    }
    
} */
/* First upper links navigation */


/* Second main navigation */
.main-nav{
    display: grid;
    grid-template-columns: 1fr 0 1fr;
    grid-template-rows: auto;
    grid-template-areas: "l . r";
    border: 2px solid green;
    width: 100%;
    margin: 0 auto;
}
.main-nav .left{
    grid-area: l;
    border: 2px solid black;
    box-sizing: border-box;
}
.wrapper{
    border: 2px solid black;
    width: 40%;
    min-width: max-content;
}
.page-title-logo, .page-subtile-logo{
    margin: 0 0 0 30px;
}
.page-title-logo{
    font-size: 55px;
}
.page-subtile-logo{
    font-size: 20px;
}
.main-nav .right{
    grid-area: r;
    justify-self: end;
    align-self: center;
    border: 2px solid rgb(190, 0, 0);
}
.main-nav .right ul{
    border: 2px solid green;
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 100%;
}
.main-nav .right ul div li{
    padding: 13px;
    margin: 5px 10px;
}
.fa-magnifying-glass{
    font-size: 25px;
    margin: 0 20px 0 0;
    align-self: center;
}
.main-nav .right ul div li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase; 
}

.main-nav .right ul div:hover  li{
    background-color: orange;
}
.main-nav .right ul div:hover a{
    color: rgb(255, 255, 255);
}
/* Second main navigation */
#root{
    min-width: max-content;
    border: 5px solid purple;
}
main{
    width: 100%;
    max-width: 1300px;
    min-width:max-content;
    margin: 0 auto;
    border: 5px solid green;
}

.m-wapper{
    width: 100%;
    /* min-width: max-content; */
    height: 80vh;
    border: 5px solid red;
    background-image: url(../images/bg_img_1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}