main{
	display: flex;
	flex-direction: column;
}

/* S-one */
.s-one{
	background-color: rgb(236, 236, 236);
}

.background-img{
	position: relative;
	/* height: auto; */
	/* min-width: 100vw; */
	background-image: url("./images/header-bg.png");
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;

}
.background-img section{
	position: absolute;
	/* display: flex; */
	/* justify-content: center; */
	/* height: auto; */
}
.background-img img{
	margin: 100px 0 0 150px;
	height: 390px;
}
.main-head-card{
	position: absolute;
	left: 300px;
	top: 60px;
	min-width: 300px;
	margin-top: 70px;
	width: 20%;
}
.main-head-card h1{
	font-weight: 0;
	font-size: 45px;
	color: white;
}
.main-head-card h1 span{
	font-weight: 600;
	font-size: 55px;
	color: white;
}
.main-head-card p{
	padding: 20px 5px 20px 5px;
	line-height: 1.5;
	font-size: 18px;
	color: white;
}

.main-head-card button{
	width: 40%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	color: rgb(255, 54, 0);
	font-weight: 600;
	border: 1px solid white;
}

.background-img img{
	position: relative;
	left: 400px;
	top: 60px;
	
}