header{
	display: flex;
	width: 100%;
	/* height: auto; */
	justify-content: center;
	border-bottom: 2px solid rgb(22, 22, 22);
	/* border: 10px solid yellow; */
}
nav{
	width: 70%;
	margin: 10px 0 15px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* background-color: aqua; */
}

nav ul{
	display: flex;
	flex-wrap: wrap;
}

nav ul li{
	/* background-color: aliceblue; */
	padding: 5px;
	margin: 10px;
}
nav ul li a{
	text-decoration: none;
	color: black;
}


header nav div img{
	/* height: 100%; */
	width: 100%;
	/* background-color: rgb(21, 194, 136); */
}

