<form>
  <label name="Name"><span>Name</span> <input type="text" /></label>
  <label name="breed"><span>Breed</span> <input type="text" /></label>
  <label name="description"><span>Description</span>
    <input type="text" /></label>
</form>