<li class="catCard">
  <img class="img" src="{{image}}" alt="Gat" width="100" height="100" />
  <h3 class="name">{{name}}</h3>
  <p><span>Breed: </span> {{breed}}</p>
  <p class="descr"><span>Description: </span> {{description}}</p>
  <ul class="buttons">
    <li class="button-edit"><a>Chainge Info</a></li>
    <li class="button-delete"><a>New Home</a></li>
  </ul>

</li>