body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
main{
	width: 100%;
	max-width: 1250px;
	/* align-self: center; */
	/* border: 10px solid black; */
}
.tm-gallery-page{
	margin: 0px;
}

@media screen and (max-width: 600px) {
	body{
		display: flex;
		flex-direction: column;
	}
	
	.tm-nav{
		margin-left: 130px;
	}
	.tm-nav-ul{
		flex-wrap: wrap;
	}
	.tm-nav-li{
		margin-top: 30px
	}
	.tm-header-inner{
		display: flex;
		justify-content: start;
		width: 100%;
	}

	.tm-welcome-section{
		justify-content: center;
	}
	.tm-section-title{
		width: 70%;
		margin: 0px;
	}


	.tm-gallery{
		/* background-color: aqua; */
		/* border:  10px solid black; */
		width: 100%;
		margin-left: 0px;
		justify-content: center;
		
	}

	.tm-gallery-item{
		width: 100%;
	}
	.tm-gallery-page{
		margin: 0px;
		flex-direction: column;
	
	}
	.tm-cta-section{
		flex-direction: column;
		width: 100%;
	}
	.tm-cta-section .row{
		flex-direction: column;
	}

	.tm-description-figure{
		text-align: start;
	}
	.tm-mb-45{
		width: 95%;
		color: unset;
	}
	.tm-mb-45 a{
		font-weight: 700;
	}
}

@media screen and (max-width: 800px){
	.tm-description-figure{
		text-align: start;
	}
	.tm-cta-section{
		display: flex;
		flex-direction: column;
		padding-left:  50px;
	}
	.tm-cta-section .row{
		display: flex;
		flex-direction: column;
		/* align-self: center; */
		/* justify-content: center; */
	}
	.tm-description-box{
		margin: 0px;
	}
	.tm-cta-section{
		align-items: start;
	}
}

/* @media screen and (max-width: 400px) {
	.tm-header{
		position: relative;
	}

	.tm-nav-ul{
		flex-direction: column;
	}
	
	.tm-nav{
		margin-left: 0px;
	}
}

@media screen and (max-width: 200px) {
	.tm-site-title{
		font-size: 1rem;

	}
	
	.tm-nav-ul{
		flex-direction: row;
	}
}
 */
