table thead{
    background: rgb(241, 241, 241);
    
}
td, th{
    text-align: left;
    height: 30px;
    line-height: none;
}
tr {
    border: 5px solid blue
}

.row.odd{
    background: rgb(241, 241, 241);
}

table{
    padding:100px ;
    width: 80%;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    
}