.section{
    max-width: 90vw;
    margin: 0 auto;
    /* border: 2px solid red; */
    min-width: 650px;
}

.w.leadingNews{
    display: flex;
    /* border: 2px solid black; */
    border-radius: 20px;
    background: rgba(255, 255, 255);
}
.w.image{
    /* border: 2px solid blue; */
    border-radius: inherit;
    width: 70%;

}

.w.text{
    align-self: center;
    padding: 0px 50px;
    width: 30%;
}


.w.newsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background: rgba(221, 220, 226);
    /* border: 2px solid red; */
}

.newsBoxWrapper{
    width: 30%;
    padding: 3px;
    border-radius: 20px;
    background: rgba(255,255,255);
    /* margin: 0 auto; */
    /* border: 2px solid green; */

}

@media screen and (max-width: 650px) {
    .newsBoxWrapper{
        width: 45%;
    }
}

img{
    width: 100%;
    border-radius: 20px;
    /* height: 100%; */
}

.about{
    padding: 10px 20px;
}

.f.title{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.s-2-news-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 650px;

}

.s-2-news-box{
    width: 30%;
}
.s-2-news-genre{
    padding: 10px 0;
}
.s-2-news-title{
    font-size: 20px;
    font-weight: 600;
}
.s-2-loadmore{
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid rgba(29, 88, 160);
    color: rgba(29, 88, 160);

}

.s-2-loadmore:hover{
    background: rgba(29, 88, 160);
}
.s-2-loadmore:hover .s-2-loadmoretext{
    color: rgba(255,255,255);
}



.s-3-news-box{
    display: flex;
    max-width: 90vw;
    margin-bottom: 20px;
    /* border: 2px solid red; */
    background: rgba(255,255, 255);
    min-width: 650px;

}

.s-3-news-box img{
    width: 50%;
}
.s-3-news-title{
    font-size: 35px;
    font-weight: 600;
    /* margin: 0px auto; */
    padding: 50px 10px;
}