header .top.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:90vw;
    margin: 0 auto;
    /* border: 2px solid green; */
    padding-top: 10px;
    min-width: 650px;
}
header .top.wrapper .right{
    display: flex;
    align-items: center;
    gap: 17px;
}
header .liveBtn{
    font-size: 20px;
    background: rgba(205, 5, 6);
    padding: 7px 11px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
}
header .weather{
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 10px;
}

header .cloud{
    text-align: center;
    vertical-align: center;
}


header .bottom.wrapper{
    max-width:90vw;
    margin: 0 auto;
    min-width: 650px;
}
header .bottom.wrapper .more{
    font-size:20px;
}
header .bottom.wrapper .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rgb(119, 128, 0); */
    /* gap: 17px; */
}

header .bottom.wrapper .left ul{
    display: flex;
    /* border: 5px solid red; */
}
header .bottom.wrapper .left ul li{
    padding: 5px;
    margin: 15px;
}

header .bottom.wrapper .left a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    
}
header .bottom.wrapper .right{
    /* border: 2px solid red; */
    position: relative;
}

header .bottom.wrapper .right .moree{
    display: none;
    position: absolute;
    /* border: 2px solid red; */
    background: rgba(255,255,255);
    right: 5px;

}

header .bottom.wrapper .right .moree.show{
    display: block;
}
#more{
    display: none;
}

header .bottom.wrapper .right .moree ul{
    /* text-decoration: none; */

    
}
/* header .bottom.wrapper .right .moree ul li{
    padding: 5px 10px;
} */

header .bottom.wrapper .right .moree li a{
    color: black;
    text-decoration: none;
    /* font-size: 22px; */

}
header .bottom.wrapper .right .moree ul .line{
    height: 2px;
    width: 100%;
    background: gray;
    margin: 5px auto;
}


.main.climate{display: block;}
.main.sience{display: block;}
.main.business{display: block;}
.main.ents{display: block;}
.main.travel{display: block;}
.main.offbeat{display: block;}

.m{
    border-bottom: 0.5px solid gray; 
    padding: 20px;
    /* background: red; */
    font-size: 25px;
    /* margin: 10px; */
}
.m.climate{display: none;}
.m.sience{display: none;}
.m.business{display: none;}
.m.ents{display: none;}
.m.travel{display: none;}
.m.offbeat{display: none;}

@media screen and (max-width: 1150px){
    .main.offbeat{display: none;}
    .m.offbeat{display: block;}
}
@media screen and (max-width: 1050px){
    .main.travel{display: none;}
    .m.travel{display: block;}
}
@media screen and (max-width: 950px){
    .main.ents{display: none;}
    .m.ents{display: block;}
}
@media screen and (max-width: 810px){
    .main.business{display: none;}
    .m.business{display: block;}
}
@media screen and (max-width: 710px){
    .main.sience{display: none;}
    .m.sience{display: block;}
}
@media screen and (max-width: 550px){
    .main.climate{display: none;}
    .m.climate{display: block;}
}