@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url(./reset.css);
@import url(./nav.css);
@import url(./main.css);

body{
    background: rgba(221, 220, 226);
    border: 2px solid black;
}

header{
    /* border: 2px solid red; */
    max-width: 99.5vw;
    margin:0 auto ;
}
main{
    border: 2px solid rgb(0, 195, 255);
    max-width: 99.5vw;
    margin:0 auto ;
}
footer{
    border: 2px solid rgb(0, 47, 255);
    max-width: 99.5vw;
    margin:0 auto ;
}
