.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* border: 1px solid blue; */
	width: 100%;
	/* gap: 100px; */
	/* margin: 0 auto; */

}

.card{
	display: flex;
	flex-direction: row;
	width: 47%;
	justify-content: stretch;
	/* flex-wrap: wrap; */
	/* height: auto; */
	margin: 15px 0 0 0px;
	/* border: 1px solid green; */

}

img{
	width: 100px;
	height: auto;
	/* height: 170px; */
	border-radius: 10px;
	object-fit: cover;
	/* align-self: center; */
	/* margin-bottom: 5px; */
}
.mang-info{
	display: flex;
	flex-direction: column;
	margin-left: 13px;
	/* align-self: center;  */
	/* border: 1px solid white; */
}
.card-title{
	font-size: 15px;
	font-weight: 700;
}
.ongoing__info{
	color: rgb(112, 117, 112);
	font-size: 15px;
	margin: 15px 0;
}
.chapter__info{
	font-size: 15px;
	margin: 0 0 10px 0;
}
.chapter__count{
	font-weight: 700;
}

.genres{
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 15px 0;
}
.genres p{
	background-color: aliceblue;
	margin: 3px 3px 0 0;
	padding: 5px ;
	border: 1px solid transparent;
	border-radius: 10px;
	font-size: 12px;
}

@media screen and (max-width: 1250px){
	.cards{
		flex-direction: column;
		/* align-items: center; */
		width: 95%;
		margin: 0 auto;
	
	}
	.card{
		width: 90%;
	}
	.mang-info{
		width: 99%;

	}
	/* aside.righ-section{
		display: none;
	} */
	.left-section{
		width: 99%;
	}
}