.ongoing-section{
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid rgb(182, 182, 182);
	/* background-color: coral; */
}



.see-more{
	width: 97%;
	margin: 0 auto 20px auto;
	padding: 10px;
	background-color: rgb(195, 216, 231);
	border: 1px solid rgb(195, 216, 231);
	border-radius: 4px;
	color: rgb(29, 114, 170);
}