body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: rgb(238, 238, 238);
}

.container{
	display: flex;
}

img{
	margin: 10px;
	border-radius: 10px;
	height: 300px;
	width: 150px;
}

.img-two{
	width: 450px;
	padding: 0 10px 0 10px;
	background-color: black;
}