.fifth{
	display: flex;
	justify-content: center;	
}
.container.five{
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 100px 0;

}

.container.five img{
	width: 35%;
	
}
.img-two{
	flex: 1 0 auto;
	transform: scale(1.5);
}