<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/Nav.css" />
    <link rel="stylesheet" href="/static/css/Cat.css" />
    <link rel="stylesheet" href="/static/css/Search.css" />
    <link rel="stylesheet" href="/static/css/App.css" />
    <title>Document</title>
    {{! <style>
      body {background-color: powderblue;}

    </style> }}
  </head>
  <body>
    <header>
      <div class="navigationBar">
        <nav>
          <a classclass="home" class="home" href="/">
            <i class="fas fa-home"></i>
            Home Page</a>
          <a class="addBreed" href="/addBreed">
            <i class="fas fa-plus"></i>
            Add Breed</a>
          <a class="addCat" href="/addCat">
            <i class="fas fa-cat"></i>
            Add Cat</a>
        </nav>
      </div>

    </header>
    <main>
      {{{body}}}

    </main>

    <footer>&copy; Project</footer>
  </body>
</html>