@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');
@import url(./reset.css);

body{
    min-width: max-content;
}
/* HEADER */
header {
  width: 100%;
  margin: 0 auto;
  /* min-width: max-content; */
}
nav {
  width: 100%;
  margin: 0 auto;
  background: rgba(45, 64, 97);
  padding: 10px 0;
}
.nav-wrapper {
    /* width: auto; */
  display: grid;
  grid-template-columns: 260px auto 220px;
  grid-template-areas: 'left middle right';
}

.logo-area {
  padding: 0 10px;
  grid-area: left;
  display: flex;
  justify-content: center;

}
.search-area {
  grid-area: middle;
  display: flex;
}
.submit-area {
  grid-area: right;
  display: flex;
  align-items: stretch;
  margin: 0 10px 0 0 ;
}
/* LOGO */
.logo {
  font-size: 35px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;

}
/*  SEARCH */
.search-area form.search {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid gray;
  background-color: rgb(255, 255, 255);
}
#search-input {
  border: none;
  outline: none;
  flex: 1 0 auto;
}
.mobile-only-box {
  display: flex;
  align-items: center;
  height: 20px;
  border: 2px solid white;
  padding: 0 7px 0 3px;
}
.search-details {
  border-left: 2px solid rgb(211, 210, 210);
  padding-left: 10px;
}
#mobile-only-checkbox {
  transform: scale(1.2);
  border: 2px solid rgb(255, 0, 0);
  align-self: center;
}
.mobile-only-box p {
  font-size: 15px;
  padding: 0 0 0 5px;
  color: rgb(161, 159, 159);
}
.min {
  width: 70px;
  outline: none;
  border: none;
}
.search-btn {
  background: rgba(71, 140, 198);
  align-self: stretch;
  border: none;
  padding: 0 8px;
}
.search-btn i {
  color: white;
  font-size: 15px;
  text-align: center;
}
.sibmit-btn {
  font-size: 17px;
  background: rgba(71, 140, 198);
  padding: 7px 20px;
  color: white;
  border: none;
  margin: auto auto auto 15px;
  /* min-width: max-content; */
}
.sibmit-btn i {
  margin: 0 5px 0 0;
}








/* MAIN */

main{
    min-width: max-content;
}
.main-wrapper{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;

}
.wallpaper-info{
    /* border: 2px solid green; */
    border-bottom: 2px solid gray;
}
.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0; 
}

.selected-img-wrapper{
    width: 95%;
    display: grid;
    grid-template-columns: 220px auto 360px;
    grid-template-areas: 'l m r';
    gap: 10px;
    margin: 15px auto auto auto;
}
.selected-img-wrapper .l{
    grid-area: l;
    border: 2px solid green ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.selected-img-wrapper .l img{
    width: 100%;
}

.selected-img-wrapper .m {
    grid-area: m;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid red ;
}
.selected-img-wrapper .m img{
    width: 100%;
}

.geres-wrapper{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    
}
.geres-wrapper button{
    margin: 5px 15px 5px 15px;
    border: none;
    background: rgb(202, 202, 202);
    padding: 3px 7px;
    font-size: 15px;
    color: black;
    
}

.selected-img-wrapper .r{
    grid-area: r;
    border: 2px solid blue;
}

.download{
    background: rgba(67, 148, 216);
    width: 100%;
    min-width: max-content;
    font-size: 16px;
    padding: 15px 0px;
    border: none;
    color: white;
}
.download-original{
    background: rgba(67, 148, 216);
    margin-top: 15px;
     width: 100%;
    min-width: max-content;
    font-size: 16px;
    padding: 15px 0px;
    border: none;
    color: white;
}

.online{
    margin-top: 15px;
    font-size: 18px;
     width: 100%;
    min-width: max-content;
    background: rgba(0, 160, 168);
    border: none;
    padding: 15px 0px;
    color: white;
}

.resize-section{
    display: flex;
    justify-content: space-evenly;
    width: 99%;
    margin-top: 15px;

}
.resize-section input{
    width: 33%;
    height: 50px;
    background: rgba(211, 210, 210, 0.5);
    border: none;
    outline: none;
    font-size: 25px;
}
.resize-section input::placeholder{
    font-size: 20px;
    text-align: center;
    
}
.resize-section button{
    width: auto;
    padding: 15px;
    font-size: 18px;
    background: rgba(67, 148, 216);
    color: white;
    border: none;
}
.resize-section span{
    align-self: center;
}

@media screen and (max-width: 900px) {
    .nav-wrapper{
        grid-template-columns: 260px 1020px 0px;
        grid-template-areas: 'left middle middle';

    }
    .submit-area {
        display: none;
    }
}