.info-section{
	width: 85%;
	margin: 0 auto;
	background-color: rgb(38, 38, 38, 0.9);

}

.inner-wrapper{
	display: flex;
	justify-content: space-between;
	gap: 50px;
}
.inner-wrapper img{
	margin: 50px 30px 50px 30px;
	border: 1px solid black;
	width:  370px;
	height: 170px;
	object-fit: cover;
	padding: 10px;
	background-color: rgb(26, 25, 28);
}

.info-title{
	font-size: 27px;
	color: white;
	margin: 55px 0 20px 0;
}
.text-info{
	color: rgb(225, 244, 251);
}

.more-btn{
	display: block;
	margin: 30px 40px 50px auto;
	padding: 5px 25px;
	font-size: 16px;
	font-weight: 600;
	color: rgb(189, 189, 189);
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgb(21, 21, 22);
	box-shadow: 5px 5px 5px 0px rgb(59, 59, 59);
}