@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import "./reset.css";
@import "./nav.css";
@import "./search.css";
@import "./footer.css";
@import "./ongoing.css";

*{
	box-sizing: content-box;
	line-height: 1.3;
}
body{
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* background-color: aqua; */
}


main{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100vw;
	/* background-color: rgb(10, 53, 53); */
}
.main-section{
	display: flex;
	flex-direction: row;
	/* background-color: chartreuse; */
	width: 90%;
	margin: 0 auto;
	height: auto;
	/* margin-left: 20px; */
	/* flex: 1 0 auto; */
}

.left-section{
	display: flex;
	flex-direction: column;
	width: 65%;
}
aside.righ-section{
	background-color: brown;
	width: 35%;
	height: auto;
	/* height: 100vh; */
}
